fastapi
uvicorn
langdetect
spacy
transformers
playwright
shapely
aiosqlite
chromadb
rank-bm25
python-dotenv
sentence-transformers
groq
google-genai
openai
easyocr
mediapipe
opencv-python
pytesseract
slowapi
redis
fastapi-cache2[redis]
python-json-logger
pybreaker
langgraph
langchain-groq
langchain-google-genai
langchain-openai